<div class="walkthrough-container">
	<div class="walkthrough">
		<div class="wt-header">
			<h1><a href="https://parse.com/docs/cloud_code_guide" target="_blank">Parse cloud code</a>, <a href="https://getstream.io/" target="_blank">getstream.io</a> &amp; <a href="http://emberjs.com/" target="_blank">EmberJS</a></h1>
			This example app shows you how to build scalable newsfeeds using GetStream.io &amp; parse cloud.
			The code is on <a href="https://github.com/tschellenbach/Stream-Example-Parse">Github</a>.
		</div>
		

		<div class="wt-step">
		{{#if session.isAuthenticated}}
			{{# if posted }}
				{{# if followed }}
					<strong>Step 4/4</strong><br/>
					Great, your {{#link-to 'index'}}feed{{/link-to}}&nbsp;now shows the content from the people you follow.
					It works with 3 users and keeps on working with 3 million users.
					To understand the API powering this try the <a target="_blank" href="https://getstream.io/get_started/">getting started</a> for getstream.io.
				{{else}}
					<strong>Step 3/4</strong><br/>
					Nice one! Your own feed is still empty though. How about you try following some {{#link-to 'people'}}people{{/link-to}}?
				{{/if }}
			{{else}}
				<strong>Step 2/4</strong><br/>
				Hi {{ displayName }}, welcome! Now give the example a try by posting a status update about the city you're currently in.
			{{/if }}	
		{{else}}
			<strong>Step 1/4</strong><br/>
			As we're demoing a social app, you'll need to login to give it a try.
			<a {{ action 'login' }} class="btn btn-primary">Login with Github</a>
		{{/if }}
		</div>
	</div>
</div>

<div class="container">
	<div class="row clearfix">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
				</div>	
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{{#link-to "index" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Home</a>{{/link-to}}
						{{#link-to "people" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>People</a>{{/link-to}}
						{{#if session.isAuthenticated}}
							{{#link-to "profile" username tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Profile</a>{{/link-to}}
						{{/if}}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{{#if session.isAuthenticated}}
						<li>
							Hi {{ username }}, having a good day?
							<img {{ bind-attr src=userImageUrl }}/>
						</li>
						<li>
							<a {{ action 'logout' }}>Logout</a>
						</li>
						{{else}}
						<li>
							<a {{ action 'login' }}>Login with Github</a>
						</li>
						{{/if}}
					</ul>
				</div>

			</nav>
			<div class="row clearfix">
				<div class="col-md-12 column">
					{{outlet}}
				</div>
			</div>
	</div>
</div>







