<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
				</div>	
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{{#link-to "index" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Feed</a>{{/link-to}}
						{{#link-to "people" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>People</a>{{/link-to}}
						{{#if session.isAuthenticated}}
							{{#link-to "profile" username tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Profile</a>{{/link-to}}
						{{/if}}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{{#if session.isAuthenticated}}
						<li>
							Hi {{ username }}
						</li>
						<li>
							<a {{ action 'logout' }}>Logout</a>
						</li>
						{{else}}
						<li>
							<a {{ action 'login' }}>Login with Github</a>
						</li>
						{{/if}}
					</ul>
				</div>

			</nav>
			<div class="jumbotron">
				<h1>Parse Cloud &amp; GetStream.io example app</h1>
				<p>
					Hi There,

					This EmberJS based example app shows you how to build scalable newsfeeds using GetStream.io from the Parse Cloud.
					The code can be found on GitHub.

					Cool links:
					<ul>
						<li>
							<a href="https://www.parse.com/docs/js_guide">Parse JavaScript Guide</a>
						</li>
						<li>
							<a href="https://getstream.io/get_started/#intro">GetStream.io Tutorial</a>
						</li>
						<li>
							<a href="http://emberjs.com/">EmberJS</a>
						</li>
					</ul>
				</p>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
</div>







