
<div id="main">
	
<div id="auth">	
	{{#if session.isAuthenticated}}
	  <p>Hi {{ username }}</p>
	  <a {{ action 'logout' }}>Logout</a>
	{{else}}
		<a {{ action 'login' }}>Login with Github</a>
	{{/if}}
</div>
<ol class="navigation">
{{#link-to "index" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Feed</a>{{/link-to}}
{{#link-to "people" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>People</a>{{/link-to}}
{{#link-to "profile" "admin" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Profile</a>{{/link-to}}
</ol>

<h2>Hello, Welcome to Ember.js</h2>

<ul>
	<li>
		<a href="https://www.parse.com/docs/js_guide">Parse JavaScript Guide</a>
	</li>
	<li>
		<a href="https://getstream.io/get_started/#intro">GetStream.io Tutorial</a>
	</li>
	<li>
		<a href="http://emberjs.com/">EmberJS</a>
	</li>
</ul>



{{outlet}}


</div>