
<h2>Your feed</h2>

<div id="update_status">
	<form>
		<div>
			Update your status
		</div>
		<div>
			{{textarea value=status cols="40" rows="3" placeholder="What's on your mind?"}}
		</div>
		<div>
			Or upload an image
			<input type="file" id="profilePhotoFileUpload">
		</div>
		
		<button {{action 'status'}}>Update Status</button>
		{{# if errors.status }}
			{{ errors.status }}
		{{/if }}
	</form>
</div>

<div>
	User:
	{{ user }}
	attributes
	{{ user.attributes }}
	username
	{{ user.attributes.username }}
</div>

{{# if loading }}
	{{ partial 'loading' }}
{{/if }}

{{ partial 'feed' }}
