<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="logo-container centered">
				<img src="images/logo.png" alt="">
			</div>
			<div class="activity-container">
				<img src="images/profile-pic.png" class="actor">
				<div id="update_status">

					<form>
						<div class="form-group">
							{{#if session.isAuthenticated}}
								{{textarea value=status cols="40" rows="3" placeholder="Which city are you in right now?" class="form-control"}}
							{{else }}
								{{textarea value=status cols="40" rows="3" placeholder="Which city are you in right now?" class="form-control" disabled=entryNotAllowed }}
							{{/if }}
						</div>
						
							{{#if errors.status }}
							<div class="alert alert-danger">{{ errors.status }}</div>
							{{/if }}
							{{#if session.isAuthenticated}}
							{{else}}
							<div class="alert alert-warning">
								<a {{ action 'login' }}>Login with Github</a> to share your status
							</div>
							{{/if}}							
						
						{{#if session.isAuthenticated}}
							{{# if posting }}
								&nbsp;
								{{ partial 'loading' }}
							{{ else }}
								<div class="form-group">
									<div class="col-sm-12">
										<span id="selected-image"></span>
									</div>
									<div class="col-sm-6">
										{{view "customFileInput" }}
									</div>
									<div class="col-sm-6">
										<button class="btn btn-primary table-cell" {{action 'status'}}>
											Share
										</button>
									</div>
								</div>
							{{/if}}
						{{/if }}
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-8 tight">
			{{# if model.globalFeed.new }}
				<div class="alert alert-warning centered">
					Whooooop! There are new activities!<br/>
					<button class="btn btn-default" {{action 'reload'}}>Show them</button>
				</div>
			{{/if }}			
			{{# if loading }}
				&nbsp;
				{{ partial 'loading' }}
			{{/if }}			
			<div class="col-md-6 tight">
				<div class="panel feed">
					<h1 class="centered upper">People you follow</h1>
					{{# if model.flatFeed }}
					{{#with model.flatFeed as feed}}
					{{ partial 'feed' }}
					{{/with}}
					{{ else }}
						<div class="blank-slate">
							Log in and follow some people to see your personalised feed!<br>&nbsp;<br>
							<a {{ action 'login' }} class="btn btn-primary">Login with Github</a>
						</div>
					{{/if}}
				</div>
			</div>
			<div class="col-md-6 tight">
				<div class="panel feed">
					<h1 class="centered upper">Everyone</h1>
					{{#with model.globalFeed as feed}}
					{{ partial 'feed' }}
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</div><!-- /.container -->