
<h2>Your News Feed/ Activity Stream</h2>

<div id="update_status">
	<form>
		<div>
			Update your status
		</div>
		<div>
			{{textarea value=status cols="40" rows="3" placeholder="What's on your mind?"}}
		</div>
		<div>
			Or upload an image
			<input type="file" id="profilePhotoFileUpload">
		</div>
		
		<button {{action 'status'}}>Update Status</button>
		{{# if errors.status }}
			{{ errors.status }}
		{{/if }}
	</form>
</div>


{{# if loading }}
	{{ partial 'loading' }}
{{/if }}

<div class="row clearfix">
	<div class="col-md-6 column">
		<h2>Activities from the people you follow</h2>
		{{#with model.flatFeed as feed}}
			{{ partial 'feed' }}
		{{/with}}
	</div>
	<div class="col-md-6 column">
		<h2>All activities</h2>
		{{#with model.globalFeed as feed}}
			{{ partial 'feed' }}
		{{/with}}
	</div>
</div>


