<div class="profile-header">
	<img {{ bind-attr src=user.attributes.image._url }} class="profile-image"/>
	<h2 class="centered">{{ user.attributes.username }}</h2>
	{{#if loading }}
		{{ partial 'loading' }}
	{{ else }}
		<a href="#" class="btn btn-primary" {{action 'follow' user}}>FOLLOW</a>
	{{/if }}
</div>