<li class="activity">

	<div class="activity-detail">
		{{# if isTweet }}
		<p>
			Tweet: {{ activity.object_parse.attributes.tweet }}
		</p>
		{{/if }}

		{{# if isUpload }}
		<div>
			<img {{ bind-attr src=imageUrl}} width="200px"/>
			{{ activity.object_parse.attributes.tweet }}	
		</div>
		
		{{/if }}

		{{# if isLike }}
			{{ username }} likes a {{ activity.object_parse.attributes.activity_type }} activity
		{{/if }}
		
		{{# if isFollow }}
			{{ activity.actor_parse.attributes.username }} followed
			{{ activity.target_user }}			{{ activity.target_user_parse.attributes.username }}
		{{/if }}
	</div>

	<footer>
		<p>
			<span class="verb">{{ activity.verb }}</span>
			by {{#link-to 'profile' username}}{{username}}{{/link-to}}
			<span class="ago">{{ ago }}</span>
		</p>
		{{# unless isLike }}
			<button {{action 'like' activity}}>
				Like
			</button>
			{{# if loading }}
				{{ partial 'loading' }}
			{{/ if}}
		{{/unless }}
	</footer>
</li>
